body{
	margin:0;
	padding:0;
}
#campo-medio{
	float:left;
	margin-left:5%;
	margin-top:10px;
	width:90%;
	height:35px;
	border:1px solid darkgrey;
	border-radius:5px;
	font:15px solid 'Calibri';
}
#botao-submit{
	border-radius:5px;
	height:35px;
	width:150px;
	margin-left:5%;
	margin-top:10px;
	float:left;
	border:none;
	cursor:pointer;
	background-color:#00AFEF;
	font:22px solid 'candara';
	color:white;
}
#botao-submit:hover{
	background-color:#5CC6D0;
	transition:.5s;
}
#botao-submit-largo{
	border-radius:5px;
	height:45px;
	width:250px;
	margin-right:5%;
	margin-left:5%;
	margin-top:1%;
	float:left;
	border:none;
	cursor:pointer;
	background-color:#00AFEF;
	font:22px solid 'candara';
	color:white;
}
#botao-submit-largo:hover{
	background-color:#5CC6D0;
	transition:.5s;
}
#campo-textarea{
	float:left;
	margin-left:5%;
	margin-top:10px;
	width:90%;
	height:400px;
	border:1px solid darkgrey;
	border-radius:5px;
	font:15px solid 'Calibri';	
}
#link{
	text-decoration:none;
	color:#00AFEF;
}
#menu-lista-atividades{
	width:100%;
	height:7.5%;
	background-color:#7A75B5;
	float:right;
}
