#body-index{
	margin:0;
	padding:0;
	background-image:url("imagens/banner6.jpg");
	background-size:100% 110%;
	background-repeat:no-repeat;
}
#area-login{
	width:100%;
	height:93%;
	float:left;
}
#cadastro-login{
	font:15px solid 'Consolas';
	margin:17.5px;
	float:left;
	color:#00AFEF;
	cursor:pointer;
}
#cadastro-login:hover{
	color:#5CC6D0;
	transition:.5s;
}
#login{
	width:400px;
	height:200px;
	/*border:1px solid black;*/
	border-radius:20px;
	margin-top:15%;
	background-color:rgba(0,0,0,0.01);
}
#rodape{
	width:100%;
	height:7%;
	background-color:rgba(255,255,255,0.8);
	float:left;
}
#img-logo{
	height:80%;
	margin-top:0.5%;
}
#titulo-login{
	width:90%;
	height:40px;
	/*border-bottom:1px solid black;*/
	float:left;
	margin-left:5%;
	margin-top:10px;
	font:25px solid 'Consolas';
	color:#00AFEF;
}
#topo-cadastro{
	width:100%;
	height:50px;
	border-bottom:1px solid darkgrey;
}
#div-cadastro{
	width:400px;
	height:400px;
	margin-top:20px;
}
#img-cadastro{
	width:100px;
}
#menu-logado{
	width:15%;
	height:92.3%;
	background-color:#00AFEF;
	float:left;
	z-index:1;
}
#conteudo-logado{
	width:85%;
	height:86%;/*92.3*/
	background-color:#F9F9F9;
	float:right;
	z-index:1;
	overflow:fixed;
}
#div-rodape-login{
	width:85%;
	height:6.3%;/*92.3*/
	background-color:#F1F1F1;
	float:right;
	z-index:1;
	overflow:fixed;
	
}
#linha-vertical{
	width:0.2%;
	height:100%;
	background-color:darkgrey;
	float:left;
}
#linha-horizontal-all{
	width:100%;
	height:0.2%;
	background-color:darkgrey;
	float:left;
}
#linha-horizontal{
	width:90%;
	height:1px;
	background-color:white;
	margin:15px;
}
#topico-menu-atividade{
	float:right;
	width:16.9%;
	height:100%;
	border-right:1px solid darkgrey;
}

#texto-topico-menu-atividade{
	color:white;
	font:15px solid 'Calibri';
	margin-top:7%;
}
#menu-lista-atividades-logotipo{
	width:14.9%;
	height:100%;
	float:left;
	background-image:url("imagens/logotipo.png");
	background-size:auto 65%;
	background-repeat: no-repeat;
	background-position: center center;
}
#foto-perfil{
	width:100%;
	height:150px;
	background-image:url("imagens/foto_perfil/icone-perfil.png");
	background-size:auto 90%;
	background-position:center center;
	background-repeat:no-repeat;
}
#nome-perfil{
	font:20px solid 'Consolas';
	color:white;
	margin-left:10px;
	margin-top:10px;
}
#menu-lateral{
	font:20px solid 'Consolas';
	color:white;
	margin-left:10px;
	margin-top:10px;
	cursor:pointer;
}
#menu-lateral:hover{
	color:#7A75B5;
	transition:.5s;
}
#div-area-icones{
	width:100%;
	height:7.5%;
}
#div-area-menu-perfil{
	width:100%;
	height:92.5%;
}
#img-icone-desligar{
	float:right;
	height:50%;
	margin-right:10px;
	margin-top:15px;
	cursor:pointer;
}
#img-icone-configurar{
	float:left;
	height:50%;
	margin-left:10px;
	margin-top:15px;	
	cursor:pointer;
}
#texto-topico-conteudo-atividade{
	color:black;
	font:15px solid 'Calibri';
	margin-top:7%;
}
#topico-conteudo-atividade{
	float:right;
	width:19.87%;
	height:100%;
}
#linha-lista-atividade{
	width:100%;
	height:10%;	
	border-bottom:1px solid darkgrey;
	cursor:pointer;
}
#font-rodape-login{
	font:20px solid;
	font-family:'Calibri';
	color:black;
	float:left;
	margin-top:8px;
	margin-left:10px;
	margin-right:20px;
	cursor:pointer;
}
#selectTipo{
	float:right;
	margin-top:10px;
	margin-right:10px;
	width:150px;
	height:25px;
}
#linha-lista-atividade:hover{
	transition:.5s;
	border-bottom:1px solid #00AFEF;
}
#div-conteudo-cadastro{
	width:700px;
	height:200px;
}
#font-titulo-cadastro-conhecimento{
	font:20px solid 'Candara';
	color:#00AFEF;
	float:left;
	margin-left:5%;
	margin-bottom:1%;
}
#conteudo-preparatorio-prova{
	width:1200px;
	height:100%;
}
#div-fazer-prova{
	width:350px;
	height:350px;
	border-radius:20px;
	background-color:#F9F9F9;
	border:1px solid #f1f1f1;
	float:right;
	margin:20px;
}
#div-preparatorio-prova{
	width:750px;
	height:350px;
	float:left;
	margin:20px;
}
#font-titulo-conteudo-prova{
	font:20px solid;
	font-family:'Calibri';
	color:#7A75B5;
	width:100%;
	height:30px;
	border-bottom:1px solid #F1F1F1;
	float:left;
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;
}
#font-conteudo-prova{
	float:right;
	font:20px solid;
	font-family:'Candara';
	width:95%;
	height:20px;
	text-align:left;
	color:#00AFEF;
	margin-top:5px;	
	margin-bottom:5px;
}
#div-conteudo-prova{
	width:100%;
	height:200px;
	float:left;
	margin-left:20px;
	text-align:left;
	font:15px solid;
	font-family:'Candara';
	color:#00AFEF;
}
#img-avaliacao{
	width:250px;
	height:250px;
	float:left;
	margin-top:15px;
	margin-left:50px;
}
#div-perfil-menu-topo{
	height:100%;
	width:15%;
	float:left;
}
#icone-perfil{
	height:80%;
	margin-top:1.5%;
	margin-left:1%;
	float:left;
}
#font-nome-perfil{
	font:15px solid 'Consolas';
	color:white;
	float:left;
	margin-left:10px;
	margin-top:5px;
}
#div-elaborar-questao{
	width:80%;
	height:75%;
	background-color:#F9F9F9;
	border-radius:50px;
	border:1px solid #F0F0F0;
	margin-top:4%;
}
#div-elaborar-questao-conteudo{
	width:100%;
	height:85%;
	float:left;
}
#div-elaborar-questao-rodape{
	width:100%;
	height:15%;
	float:left;
	background-color:#F1F1F1;
	border-top:1px solid #F0F0F0;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
#div-questao-pergunta{
	width:50%;
	height:100%;
	float:left;
}
#div-questao-resposta{
	width:50%;
	height:100%;
	float:left;
}
#fonte-texto-titulo-questao{
	font:20px solid black;
	font-family:'Consolas';
	color:darkgrey;
	margin-top:50px;
	margin-left:50px;
	float:left;
}
#input-texto{
	width:400px;
	height:50px;
	border-radius:10px;
	font:20px solid black;
	font-family:'Calibri';
	border:1px solid #F1F1F1;
	margin-top:100px;
}